<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="icon" type="image/jpg" href="/assets/favicon.jpg">
    {% feed_meta %}
    {% seo %}
</head>
<body>
    
    <!--Parallax-->
    <div class="paracont">
        <div id="header">
            {% include header.html %}
        </div>
        {% if page.bg %}
            <div class="parabg">
                <img src="/assets/images/bg/{{ page.bg }}" id="bg" class="bgimage">
            </div>
        {% endif %}
        <div class="parafg" id="parafg">
            <div class="content">
                {{ content }}
            </div>
        </div>
        <div class="footer">
            {% include footer.html %}
        </div>
    </div>
    
</body>
</html>